<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="robots" content="noindex">
  <title><%= @page.title %></title>
  <link rel="canonical" href="<%= UrlService.domain_with_protocol %>/pg/<%= @page.unique_permalink %>">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <%= yield %>
</body>
</html>
